<h1>Make your form here</h1>
<form method="POST" action="/pirate">
  <label>Pirate Name: <input type="text" name="pirate[name]"></label><br>
  <label>Pirate Weight: <input type="text" name="pirate[weight]"></label><br>
  <label>Pirate Height: <input type="text" name="pirate[height]"></label><br>
  <label>Ship Name: <input type="text" name="pirate[ship][][name]"></label><br>
  <label>Ship Type: <input type="text" name="pirate[ship][][type]"></label><br>
  <label>Ship Booty: <input type="text" name="pirate[ship][][booty]"></label><br>
  <input type="submit">
</form>
